.eight_sc {
    background-color   : #D7EFE8;
    // padding-bottom  : 75px;
    position           : relative;



    &-title {
        position     : relative;
        z-index      : 1;
        text-align   : center;
        margin-bottom: 50px;
    }

    & .list {
        &__item {
            border-radius   : 10px;
            border          : 1px solid #707070;
            margin-bottom   : 20px;
            background-color: #FFFAEE;
            position        : relative;
            z-index         : 1;

            &:last-child {
                margin-bottom: 0;
            }

            & .__header {
                padding      : 8px;
                border-bottom: 1px solid #707070;
                display: flex;
                align-items: center;
            }

            & .__body {
                padding: 10px 22px 24px 9px;
            }
        }
    }
}