.fifth_sc {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 113px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #fffaee, transparent);
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 113px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: linear-gradient(to top, #d7efe8, transparent);
  }

  &-content {
    position: absolute;
    top: 278px;
    left: 0;
    right: 0;
  }
  &-subtitle {
    width: 60%;
    font-family: "Noto Sans JP";
    font-weight: normal;
    font-family: "Noto Sans JP";
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    color: #5a5858;
    text-shadow: 0px 0px 2px #ffffff, /* white */ 0 0px 4px #ffffff,
      /* black */ -8px 0px 6px rgba(255, 255, 255, 0.9),
      /* blue */ 8px 0px 6px rgba(255, 255, 255, 1),
      /* blue */ -8px 0px 7px rgba(255, 255, 255, 1),
      /* blue */ -8px -4px 6px rgba(255, 255, 255, 1),
      /* blue */ -8px 4px 6px rgba(255, 255, 255, 1),
      /* blue */ -8px -2px 6px rgba(255, 255, 255, 1),
      /* blue */ -8px 2px 6px rgba(255, 255, 255, 1); /* blue */
    & span {
      display: block;
      &:last-child {
        text-align: right;
      }
    }
  }
}
