.footer {
    background-color: #215F87;

    & .container {
        padding-top   : 46px;
        padding-bottom: 90px;
        padding-left  : 20px;
        padding-right : 20px;
    }

    & .copyright {
        background-color: #113045;
        padding         : 10px;
        justify-content : center;
        display         : flex;
        align-items     : center;
    }
}