.fourth_sc {
  padding-top: 88px;
  padding-bottom: 60px;
  background-color: #fffaee;
  position: relative;
  &-title {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 35px 22px 28px 38px;
    // background: url("../images/second-sc__frame-border.png") no-repeat 0 0 /
    //   cover;
    border: 2px solid #595757;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border: 2px solid #595757;
    }
    & .leftLeave {
      position: absolute;
      left: -13px;
      bottom: 0;
      background: #fffaee;
    }
    & .rightLeave {
      position: absolute;
      padding-top: 5px;
      top: -2px;
      right: -13px;
      background: #fffaee;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 107px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #d7efe8, transparent);
  }

  & .steps {
    &__item {
      padding-bottom: 60px;

      & .__title {
        margin-bottom: 30px;
        font-family: "Noto Sans JP";
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        color: #215f87;
        display: flex;
        align-items: center;
        & span {
          display: inline-block;
          margin-left: 7px;
        }
      }
      & .__image {
        text-align: center;
      }
      & .__content {
        font-family: "Noto Sans JP";
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        text-align: left;
        color: #5a5858;
        & span {
          display: block;
        }
      }
      & .__image {
        margin-bottom: 35px;
      }
    }
  }
}
