.nine_sc {
    padding-top     : 140px;
    padding-bottom  : 10px;
    background-color: #fff;
    position        : relative;

    & .container {
        position: relative;
    }

    &::before {
        content   : '';
        display   : block;
        width     : 100%;
        height    : 152px;
        position  : absolute;
        top       : 0;
        left      : 0;
        background: linear-gradient(to bottom, #D7EFE8, transparent);
    }

    &-title {
        margin-bottom: 45px;
        text-align   : center;
    }

    &-button {
        border-radius  : 25rem;
        background     : $linearGradient;
        position       : relative;
        z-index        : 1;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        padding        : 8px;
        padding-left   : 80px;
        position       : relative;
        box-shadow     : 2px 2px 6px rgba(0, 0, 0, 0.36);
        height         : 56px;
        position       : absolute;
        bottom         : 0;
        left           : 20px;
        right          : 20px;

        &::before {
            content          : '';
            display          : block;
            width            : 11px;
            height           : 16px;
            background-image : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.043' height='19.459' viewBox='0 0 14.043 19.459'%3E%3Cg id='Сгруппировать_374' data-name='Сгруппировать 374' transform='translate(-303.973 -18.953)'%3E%3Cline id='Линия_1' data-name='Линия 1' x2='11.246' y2='8.331' transform='translate(305.372 20.352)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'/%3E%3Cline id='Линия_2' data-name='Линия 2' x1='11.246' y2='8.331' transform='translate(305.372 28.683)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size  : cover;
            position         : absolute;
            top              : 50%;
            right            : 20px;
            transform        : translateY(-50%);
        }
    }
}