.second_sc {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #fffaee;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #d7efe8, transparent);
  }

  &-title {
    margin-bottom: 30px;
    max-width: 335px;
    margin-left:  auto;
    margin-right: auto;
  }

  &-frame {
    margin-bottom: 29px;
    //background: url("../images/second-sc__frame-border.png") no-repeat 0 0 /    //   100%;
    border: 2px solid #707070;
    border-right: 0;
    padding: 21px 100px 19px 34px;
    position: relative;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      border: 2px solid #707070;
      border-right: 0;
    }
    & span {
      display: block;
      font-family: "Noto Sans JP";
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
      text-align: left;
      color: #5a5858;
    }
    & .image {
      position: absolute;
      top: -18px;
      right: 0;
      z-index: 1;
    }
    & .leftLeave {
      position: absolute;
      left: -10px;
      bottom: 0;
      background: #fffaee;
    }
    & .rightLeave {
      position: absolute;
      top: 10px;
      right: -10px;
    }
  }

  &-subtitle {
    margin-bottom: 48px;
  }
}
