.second_sc {
    padding-top     : 80px;
    padding-bottom  : 20px;
    background-color: #FFFAEE;
    position        : relative;

    &::before {
        content   : '';
        display   : block;
        width     : 100%;
        height    : 60px;
        position  : absolute;
        top       : 0;
        left      : 0;
        right     : 0;
        background: linear-gradient(to bottom, #D7EFE8, transparent);
    }

    &-title {
        margin-bottom: 12px;
    }

    &-image {
        margin-bottom: 16px;
    }

    &-subtitle {
        margin-bottom: 48px;
    }
}