.seven_sc {
    padding-top     : 134px;
    padding-bottom  : 145px;
    background-color: #FFFAEE;
    position        : relative;

    &::before {
        content   : '';
        display   : block;
        width     : 100%;
        height    : 85px;
        position  : absolute;
        top       : 0;
        left      : 0;
        background: linear-gradient(to bottom, #D7EFE8, transparent);
    }

    &::after {
        content   : '';
        display   : block;
        width     : 100%;
        height    : 152px;
        position  : absolute;
        bottom    : 0;
        left      : 0;
        background: linear-gradient(to top, #D7EFE8, transparent);

    }

    &-title {
        text-align   : center;
        margin-bottom: 54px;
    }

    &-slider {
        & .splide__slide {
            & .__image {
                margin-bottom: 34px;
                text-align   : center;
            }

            & .__title {
                text-align   : center;
                margin-bottom: 25px;
            }

            & .__subtitle {
                text-align: center;
            }


        }

        & .splide__arrow {
            width           : 40px;
            height          : 40px;
            background-color: #E4E4E4;


        }
    }
}